@model IEnumerable<TripsLogApp.Models.Trip>

@{
    ViewData["Title"] = "My Trip Log";
}

<div class="table-container">

    <a asp-action="AddPage1" asp-controller="Trips" class="button">Add Trip</a>
    <button type="button" class="button delete-all-button" onclick="confirmDeleteAll()">Clear All Trips</button>
</div>

<!-- Hidden form to handle DeleteAllTrips action -->
<form id="deleteAllForm" method="post" action="/Trips/DeleteAllTrips" style="display:none;">
    @Html.AntiForgeryToken()
</form>

    <table>
        <thead>
            <tr>
                <th>Destination</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Accommodations</th>
                <th>Things To Do</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trip in Model)
            {
                <tr>
                    <td>@trip.Destination</td>
                    <td>@trip.StartDate</td>
                    <td>@trip.EndDate</td>
                    <td>@trip.Accommodation</td>
                    <td>
                        @if (!string.IsNullOrEmpty(trip.ThingToDo1))
                        {
                            @trip.ThingToDo1 <br />
                        }
                        @if (!string.IsNullOrEmpty(trip.ThingToDo2))
                        {
                            @trip.ThingToDo2 <br />
                        }
                        @if (!string.IsNullOrEmpty(trip.ThingToDo3))
                        {
                            @trip.ThingToDo3
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

@section Styles {
    <style>
        .notification {
            background-color: #f5f5f5; /* Light grey background */
            color: #333; /* Dark grey text */
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
            font-weight: bold;
            text-align: center;
        }
    </style>
}
